
*{
  box-sizing: border-box;
}
/************* only for large screen ********/

@media (min-width:992px){
  .Container{
    position: relative;
      margin-top: 40px;
      left:0.3%;
  }
  h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
  }
  .My_box{
    display:inline-block;
      width:31%;
      height:140px;
      background-color: gray;
      border: 2px solid black;
      overflow: hidden;
      border-radius: 5px;
      margin:0.8%;
      overflow: hidden;
  }
  p{
    position: relative;
    top: 25px;
    padding-left:10px;
  }
  #pink,#marron,#yellow{
      float: right;
      border:1px solid black;
      border-radius: 5px;
      box-shadow: 3px 3px 3px black;
      font-size:20px;
      width: 35%;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-transform: capitalize;
      text-align: center;
      font-weight: bold;
  }
    #pink{
        background-color:hotpink;
    }
     #marron{
         background-color: brown;
         color:beige
     }
     #yellow{
         background-color: yellow;
     }
}
/************only for medium devices***********/

   @media (min-width:768px) and (max-width:991px) {
  
    .Container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
        position: relative;
        margin-top: 40px;
    }
  h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;}
  
  .My_box{
      width:45%;
      height:180px;
      background-color: gray;
      border: 2px solid black;
      border-radius: 5px;
      margin:0.5%;
  }
 
  .My_box.medium{
    width: 91.4%;
  }
  p{
    position: relative;
    top: 25px;
    padding-left:10px;
  }
  #pink,#marron{
      float: right;
      border:1px solid black;
      border-radius: 5px;
      box-shadow: 3px 3px 3px black;
      font-size:20px;
      width: 25%;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-transform: capitalize;
      text-align: center;
      font-weight: bold;
  }
  #yellow{
width:12% ;
float: right;
border:1px solid black;
border-radius: 5px;
box-shadow: 3px 3px 3px black;
font-size:20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-transform: capitalize;
text-align: center;
font-weight: bold;
  }
    #pink{
        background-color:hotpink;
    }
     #marron{
         background-color: brown;
         color:beige;
  
     }
     #yellow{
         background-color: yellow;
        
     }

   }
  
   /**************** small device ******************/

   @media (max-width:767px){
    .Container{
      position: relative;
    left: 4%;
      margin-top: 40px;
  }
  h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;}
  
  .My_box{
    display:block;
      width:90%;
     height:160px;
      background-color: gray;
      border: 2px solid black;
      overflow: hidden;
      border-radius: 5px;
      margin:2%;
  }
  p{
    position: relative;
    top: 25px;
    padding-left:10px;
  }
  
  #pink,#marron,#yellow{
      float: right;
      border:1px solid black;
      border-radius: 5px;
      box-shadow: 3px 3px 3px black;
      font-size:20px;
      width: 27%;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-transform: capitalize;
      text-align: center;
      font-weight: bold;
  }
    #pink{
        background-color:hotpink;
    }
     #marron{
         background-color: brown;
         color:beige
     }
     #yellow{
         background-color: yellow;
     }
   }


